/* registration form */
.fonts-style{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fonts-style {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.font-styles{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}